/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require help
 *= require_self
 *= require select2
 */
// @import 'materialize';
@import 'bootstrap';
// body{
//   @extend .brown, .lighten-5;
// }

.signin{
	position: absolute;
	top: 40%;
	left: 50%;
  transform: translate(-50%, -50%);
  color: gray;
	text-align: center;
}

#members-list{
  height: 450px;
  overflow: scroll;
}

#member-table{
  cursor: pointer;
}

.selected-member-box{
  height: 100px;
}

.selected-row{
  display: none;
}

.unselectable-row{
  // @extend .grey, .lighten-2;
  cursor: not-allowed;
}
