$unselectable-text-color: white;
$unselectable-bg-color: #fe0000;

#members-list{
  height: 450px;
  overflow: scroll;
}

tr.member-row{
  cursor: pointer;
  &:hover{
    background-color: #dee2e6;
  }
}

tr.selected-row{
  display: none;
}

tr.unselectable-row{
  color: $unselectable-text-color;
  background-color: $unselectable-bg-color;
  cursor: not-allowed;
  &:hover{
    background-color: $unselectable-bg-color;
  }
}

input.member-form{
  cursor: pointer;
  &:hover{
    background-color: #adb5bd;
  }
}
