#members-list{
  height: 450px;
  overflow: scroll;
}

#member-table{
  cursor: pointer;
}

.selected-member-box{
  height: 100px;
}

.member-row{
  cursor: pointer;
}

.selected-row{
  display: none;
}

.unselectable-row{
  background-color: gray;
  cursor: not-allowed;
}

.member-form{
  cursor: pointer;
}
